body{
    width: 100vw;
    height: 100vh;
    background: #FFF;
    overflow: auto;
}

.mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}
.mask .page{
    width: 100%;
    /*-webkit-box-orient: horizontal;
    display: -webkit-box;*/
    display: table;
}
.mask .page li{
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
.mask .page li img{
    width: 100%;
}